
 /* CSS for everything Main-page */
 .maincontainer{
  background:#fdfeff;
  background-image: url(/img/Groups.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  height:100vh;
  background-size: 60%;

}
.pictures{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.picture1{
  position: relative;
  top:2px;
}

.picture1>img{
  width:200px;
  height:250px;
}
.picture2{
  position: relative;
 margin-top: 65px;
}
.picture2>img{
  width:300px;
  height:200px;
}
.pic{
  display: flex;
  justify-content: space-between;
  position: absolute;
  top:-20px;
  background-color: rgba(255,255,255,0.3);
  z-index: 1;
  opacity: 1;
}

.navBar{
display: flex;
flex-direction: row;
justify-content: space-between;
 box-shadow: 0 4px 2px -2px #B3B3B3;
 margin: 0 70px;
 height:65px;
 font-family: 'Product Sans Regular';
}
.navTitle>p{
  color: #5170FD;
  font-size: 30px;
  margin-top:13px;
  margin-left: 16px;
}
.logIn{
  color:#5170FD;
  font-size:18px;
  text-decoration: none;
  margin-top: 5px;
  margin-right:-40px;
  margin-bottom:15px;
}
.signuplink{

}
.logIn:hover{
  padding-bottom: 2px;
  border-bottom: 3px solid #000000;
}
.navContent>p{
  font-size: 16px;
  margin-top: 7px;


}
.navContent>p:hover{
  margin-bottom: 15px;
   border-bottom:3px solid #5170FD;
}

.signUp{
background: #5170FD;
border-radius: 4px;
width:155px;
height:40px;
color:white;
font-size: 16px;
text-decoration: none;
text-align: center;
margin-left: -20px;
margin-top:-5px;

}
.buttonlink{
margin-right: -13px;
}
.navContent{
  display: flex;
  justify-content: space-between;
  width:170px;
  font-size: 18px;
padding-top: 35px;
margin-top: -5px;
margin-left: 10px;

}
.userName{
  padding-top: 7px;
}
.navUserContent{
  display: flex;
  width:170px;
  justify-content: space-between;
  padding-top: 20px;
}

.callToAction{
  font-family: 'Product Sans Regular';
  font-size: 34px;
  text-align: center;
  width:500px;
  margin:100px auto 0 auto;
}
.inputText{
  font-family: 'Product Sans Regular';
 margin:70px 300px 0 320px;
 outline: none;
width:700px;
height:40px;
border-radius: 10px;
color:#B3B3B3;
font-size: 16px;
border:none;
position: relative;
z-index:3;
 box-shadow:  4px 7px 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0,0,0,0.23);
 text-indent: 30px;
}
.blueText{
  color:#5170FD;
}
.searchIcon{
  position: relative;
  left:-335px;
  top:2px;
  color:#4D4D4D;
  font-size:70px;
  z-index:1000;
}
.searchLocationIcon{
  
  font-size: 20px;
margin:5px 4px;
color:#1081E0;


}
.searchUserLocationIcon{
  font-size: 20px;
  margin:5px 4px;
  color:white;
}
.mapMarker{
  position: absolute;
  left:1120px;
  top:390px;
  background: #CAD4FD;
  width:30px;
  height: 30px;
  border: 1px solid #CAD4FD;
  border-radius: 30px;
  text-align: center;

}
.mapUserMarker{
  background: #CAD4FD;
border: 1px solid #E5E5E5;
color:white;
border-radius: 30px;
text-align: center;
position: absolute;
left:1120px;
top:390px;
width:30px;
  height: 30px;
}
.navProfile{
  font-size: 22px;
  padding-top: 20px;
}
.image1{
  width:250px;
  height:250px;
  position: absolute;
  top:417px;
  left:10px;
  padding:0;
}


.image3{
  top:467px;
  left:1065px;
  position:absolute;
  z-index:2;
  width:300px;
  height:200px;
}
.container{
height:0px;

}
.searchContainer{
  height:0px;
}
.mainSearchContainer>select{
  text-indent:7px;
  width:70px;
  height:42px;
  margin: auto;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline:none;
}
.mainSearchContainer>input{
  width:450px;
  height:40px;
  text-indent: 10px;
}
.mainSearchContainer{
  display: flex;
  margin: auto;
  margin-top: 13px;
  margin-left:60px;
  margin-right:16px;
}
.geolocation{
   text-align:center;
   margin-top:30px;
   font-family: 'Product Sans Regular';
   font-weight: bold;

}
.terms{
  text-align:center;
  display: flex;
  justify-content: space-between;
  margin-top:-73px;
  margin-left: 500px;
  width:310px;
  font-size: 14px;
  color: #5170FD;
}
.dot{
  font-weight: bolder;
  font-size: 14px;
  color: #5170FD;
}